# config.py

# start of config
# network
# MAINNET = True  # mainnet
MAINNET = False  # testnet

# rpc
rpcuser     = 'rpcuser'
rpcpassword = 'rpcuser-password'
rpcbindip   = '127.0.0.1'
rpcport     = 19998

# ssh tunnel
USE_SSH_TUNNEL   = True  # True or False
SSH_IDENTITYFILE = '~/.ssh/xxx.pem'
SSH_USER         = 'xxx'
SSH_SERVER       = '121.121.121.121'
SSH_LOCAL_PORT   = '29998'

# HW WALLET TYPE
TYPE_HW_WALLET = 'Trezor'          # Keepkey [ keepkey ], Trezor [ trezor ]

#
# tDash :  44'/165'/xxx'/0
# Dash  :  44'/5'/xxx'/0
#
#mpath          = "44'/165'/1990'/0" # (1990 is sample number) parent path used on hw wallet to store 1K Dash/tDash
mpath          = ""                  # extended pubkey of parent path used on hw wallet to store 1K Dash/tDash
#

# extended pubkey of parent path used on hw wallet to store 1K Dash/tDash
xpub           = ""
max_gab        = 20                  # number of keys used on mn config(or number of mns)

# masternode_config
masternode_conf_file = 'masternode.conf'

# fee per KB
min_fee = 10000         # fee for tx

#
if MAINNET:
    # dash mainnet
    wif_prefix  = 204  # cc
    addr_prefix = 76   # 4c
    coin_name   = 'Dash'

    #min_conf    = 100   # 
    max_amounts = 10    # max amounts of each unspent tx 
    max_unspent = 10
    min_unspent = 3
    
    default_receiving_address = ''

else:
    # dash testnet
    wif_prefix  = 239 # ef
    addr_prefix = 140 # 8c
    coin_name   = 'tDash'

    #min_conf    = 10    # 
    max_amounts = 20    # max amounts of each unspent tx 
    max_unspent = 50
    min_unspent = 3

    default_receiving_address = 'yUGY5tjeu51tLkZFRVdut2kJVVBA2ZEL3Z' # default address to send coins in hw wallet 
                                                                     # if reveiving_address in masternode.conf is blank
                                                                     # this is not chaing payment address of mn

#
errorsnprogress = []

# caution this config move 1K collateral to configured address
MOVE_1K_COLLATERAL = False

# end of config.py
